<div class="container mt-5">
  <h1>Edite seu familiar! <%= @family_member.first_name %></
  <% render 'form'%>
  <%= link_to 'Show', @family_members, class: "btn btn-success" %> |
  <%= link_to 'Back', @family_members_path, class: "btn btn-success" %>
</div>
