<div class="container mt-5 text-allign">
  <h1>Cadastrar seu familiar</h1>
</div>

<div class="container my-5 flex-item-align-text">
  <%= render 'form' %>
  <%= link_to 'Voltar', family_members_path, class: "btn btn-success" %>
</div>
