<div class = container>
<div class= "my-card">
  <h1> <strong>Seus pedidos<strong> </h1>
  <div class="main">
    <ul>
      <% @user_orders.each do |order| %>
        <li>
          <p>Pedido número: <%= order.id %></p>
          <br>
          <p>Criada em: <%= order.created_at.strftime("%d/%m/%Y") %> </p>
          <br>
          <p>Aluguel agendado para: <%= order.rent_date.strftime("%d/%m/%Y") %></p>
          <br>
          <%= link_to "Detalhes do pedido", order_path(order), class: "btn btn-primary" %>
        </li>
      <% end %>
    </ul>
  </div>
</div>
