<div class = container>
  <h1> Seus pedidos </h1>

  <ul>
    <% @user_orders.each do |order| %>
      <li>
        <p>Pedido número: <%= order.id %></p>
        <p>Criada em: <%= order.created_at.strftime("%d/%m/%Y") %> </p>
        <p>Aluguel agendado para: <%= order.rent_date.strftime("%d/%m/%Y") %></p>
        <%= link_to "Detalhes do pedido", order_path(order), class: "btn btn-primary" %>
      </li>
    <% end %>
  </ul>
</div>
