<div class = container>
  <h1>Detalhes do pedido </h1>

  <p> Pedido: <%= @order.id %> </p>
  <p> Data: <%= @order.created_at.strftime("%d/%m/%Y") %> </p>
  <%= link_to "cancelar pedido", order_path(@order), data: { turbo_method: :delete, turbo_confirm: 'Are you sure?' }, class: "btn btn-danger" %>
</div>
